body {
    font-size: 15px;;
}
#navbar {
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 1;
top: 0;
left: 0;
overflow-x: hidden;
padding-top: 20px;
 background-color: black;
  font-size: 25px;
    color: white;
}

#navbar a {
    display: block;
    padding: 6px 8px 6px 16px;
    text-decoration-line: none;
    text-decoration-line: under;
    border-bottom-color: beige;
    border-bottom: 10px;
   
}
.main-section {
    padding-left: 1rem;
    
}
#navigation {
    margin-right: 0px;
}
header {
    font-size: 30px;

}
article{
    padding-left: 15px;
    padding-right: 25px;
}
