body {
    font-size: 17px;
    font-family: 'Open Sans', Arial, sans-serif;
}
#navbar {
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 1;
    top: 0;
    left: 0;    
    overflow-x: hidden;
    padding-top: 20px;
    background-color: rgb(241, 232, 213);
    font-size: 25px;
    color: black;
}

#navbar a {
    padding-top: 10px;
    display: block;
    padding: 6px 8px 6px 16px;
    text-align: left;
    font-size: 18px;
    text-decoration-color: black;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.main-section {
    padding-left: 1rem;
    padding-top: 20px;
}
#navigation {
   text-align: center;
}
header {
    font-size: 30px;
}
article{
    padding-left: 15px;
    padding-right: 25px;
}
#main {
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 50px;
}
